# Build output
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Xx]64/
[Xx]86/
[Ww][Ii][Nn]32/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio cache / user-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results / binaries
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.tlog

# ReSharper / Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

# NuGet
*.nupkg
packages/
!packages/build/

# OS junk
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
